{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Changed" %}{% endblock %}

{% block account_content %}
    <h2 class="card-title justify-center text-3xl font-bold text-center mb-4">{% trans "Password Changed" %}</h2>
    
    <div class="alert alert-success">
         <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>{% trans "Your password has been changed." %}</span>
    </div>
    
     <div class="card-actions justify-end mt-6">
        <a href="{% url 'account_login' %}" class="btn btn-primary w-full">{% trans "Sign In" %}</a>
    </div>
{% endblock %}
