services:
  web:
    build: .
    command: /app/scripts/entrypoint.sh
    volumes:
      - .:/app:z
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - db

  caddy:
    image: docker.io/library/caddy:2
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - .:/app:z
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - web

  db:
    image: postgres:18
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}

volumes:
  postgres_data:
