django
django-htmx
django-tailwind
django-browser-reload
django-compressor
django-allauth
whitenoise
django-template-partials

hpo3

pronto

networkx
plotly
fastobo
pygraphviz
kaleido
django-encrypted-model-fields
django-simple-history
# Model versioning
# Use the latest git version of django-notifications-hq for Python 3.12+ compatibility
openpyxl
numpy
plotly-express
git+https://github.com/django-notifications/django-notifications.git@master#egg=django-notifications-hq

# LLM and LangChain dependencies
langchain
langchain-community
langchain-core
sqlalchemy
requests
django-environ
gunicorn
psycopg2-binary

