{% extends "lab/base.html" %}

{% block content %}
  {% partialdef analysis-search %}
    <!-- Search form -->
    {% include "lab/analysis/search.html" %}
  {% endpartialdef %}

  {% partialdef analysis-list %}
    {% include "lab/analysis/list.html" %}
  {% endpartialdef %}

  {% partialdef analysis-index %}
    {% include "lab/analysis/search.html" %}
    {% include "lab/analysis/list.html" %}
  {% endpartialdef %}

  <!-- this is for when we wanna do a full refresh with sidebar -->
  {% partial analysis-search %}
  {% partial analysis-list %}
{% endblock %} 