<div
  class="bg-white p-4 rounded-lg shadow border m-2"
  data-item-id="{{ item.id }}"
>
  {% with float="float-right" color=item.status.color text=item.status.name %}
    {% include 'lab/partials/badge.html' %}
  {% endwith %}

  <h3 class="font-semibold text-lg">{{ item.type.name }}</h3>
  <p class="text-gray-600">Test: {{ item.test.test_type.name }}</p>
  <p class="text-gray-600">Sample: #{{ item.test.sample.id }}</p>
  <p class="text-sm text-gray-500">
    Individual: {{ item.test.sample.individual.individual_id }}
  </p>

  {% if item.performed_date %}
    <p class="text-sm text-gray-500">Performed: {{ item.performed_date }}</p>
  {% endif %}
  {% if item.performed_by %}
    <p class="text-sm text-gray-500">
      Performed by: {{ item.performed_by.username }}
    </p>
  {% endif %}
  {% if item.type.source_url %}
    <p class="text-sm text-blue-600">
      <a href="{{ item.type.source_url }}" target="_blank">Source</a>
    </p>
  {% endif %}
  {% if item.type.results_url %}
    <p class="text-sm text-green-600">
      <a href="{{ item.type.results_url }}" target="_blank">Results</a>
    </p>
  {% endif %}
  {% if item.notes.all %}
    <div class="mt-2">
      <span class="font-semibold text-xs">Notes:</span>
      <ul class="list-disc ml-4 text-xs">
        {% for note in item.notes.all %}
          <li>{{ note.content|truncatewords:15 }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
