{% extends "lab/base.html" %}
{% load partials %}

{% partialdef indicator %}
  <div class="htmx-indicator"></div>
{% endpartialdef %}

{% partialdef generic-search %}
  <input
    class="form-control"
    type="search"
    name="search"
    placeholder="{{ model }} search"
    hx-get="{% url 'lab:generic_search' %}"
    hx-trigger="input changed delay:200ms, keyup[key=='Enter'], load"
    hx-target="#{{ model|lower }}"
    hx-indicator=".htmx-indicator"
    hx-vals='{"model": "{{ model }}", "field": "{{ field }}"}'
  />
{% endpartialdef %}

{% partialdef generic-search-results %}
  {% if items.number == 1 %}
    <div
      class=""
      :class="{'bg-green-500': {{ num_items }} > 0,
                'bg-red-500': {{ num_items }} == 0}"
    >
      Found {{ num_items }} {{ model|lower }}{{ num_items|pluralize }}.
    </div>
  {% endif %}
  {% for item in items %}
    <div
      x-init="
            document.dispatchEvent(new Event('{{ model }}'));
        "
      {% if forloop.last and items.has_next %}
        hx-get="{% url 'lab:generic_search' %}" hx-trigger="intersect once"
        hx-swap="afterend" hx-target="this" hx-vals='{"page":
        "{{ items.next_page_number }}", "model":"{{ model }}", "field":
        "{{ field }}", "search": "{{ search }}"}'
      {% endif %}
    >
      {% include "lab/"|add:model|lower|add:".html" with item=item %}
    </div>
  {% endfor %}

  {% if not items.has_next %}
    {% if num_items != 0 %}
      <div class="bg-orange-300">No more {{ model|lower }}s.</div>
    {% endif %}
  {% endif %}
{% endpartialdef %}

{% partialdef samples-section %}
  <div id="samples-section">
    <h2>Samples</h2>
    {% with model='Sample' field='sample_type__name' %}
      {% partial generic-search %}
    {% endwith %}
    <div id="sample">{% partial generic-search-results %}</div>
  </div>
{% endpartialdef %}

{% partialdef individual-section %}
  <div id="individual-section">
    <h2>Individuals</h2>
    {% with model='Individual' field='cross_ids__id_value' %}
      {% partial generic-search %}
    {% endwith %}
    <div id="individual">{% partial generic-search-results %}</div>
  </div>
{% endpartialdef %}

{% partialdef institution-section %}
  <div id="institution-section">
    <h2>Institutions</h2>
    {% with model='Institution' field='name' %}
      {% partial generic-search %}
    {% endwith %}
    <div id="institution">{% partial generic-search-results %}</div>
  </div>
{% endpartialdef %}

{% partialdef index %}
  <h1>INDEX PAGE</h1>
{% endpartialdef %}

{% block content %}
  {% partial indicator %}
  {% partial index %}

  <div class="grid grid-cols-4 gap-4">
    {% partial individual-section %}
    {% partial samples-section %}
    {% partial institution-section %}
  </div>
{% endblock content %}
