{% load partials %}

{% partialdef overview %}
    {% with title='Individuals' icon_class='fa-person' model_name='Individual' app_label='lab' view="index" %}
        {% include "lab/partials/partials.html#search-section" %}
    {% endwith %}
    {% with title='Samples' icon_class='fa-vial' model_name='Sample' app_label='lab' select='true' field_name='sample_type' view="index" %}
        {% include "lab/partials/partials.html#search-section" %}
    {% endwith %}
    {% with title='Tests' icon_class='fa-flask-vial' model_name='Test' app_label='lab' select='true' field_name='test_type' view="index" %}
        {% include "lab/partials/partials.html#search-section" %}
    {% endwith %}
    {% with title='Analyses' icon_class='fa-laptop' model_name='Analysis' app_label='lab' select='true' field_name='analysis_type' view="index" %}
        {% include "lab/partials/partials.html#search-section" %}
    {% endwith %}
    {% with title='Institutions' icon_class='fa-building-columns' model_name='Institution' app_label='lab' view="index" %}
        {% include "lab/partials/partials.html#search-section" %}
    {% endwith %}
    {% with title='Projects' icon_class='fa-diagram-project' model_name='Project' app_label='lab' view="index" %}
        {% include "lab/partials/partials.html#search-section" %}
    {% endwith %}
    {% with title='Tasks' icon_class='fa-list-check' model_name='Task' app_label='lab' view="index" %}
        {% include "lab/partials/partials.html#search-section" %}
    {% endwith %}
    {% with title='HPO Terms' icon_class='fa-stethoscope' model_name='Term' app_label='ontologies' view="index" %}
        {% include "lab/partials/partials.html#search-section" %}
    {% endwith %}
{% endpartialdef overview %}