{% partialdef card %}
  <div class="card-base" data-item-id="{{ item.id }}">
    <div class="card-header">
      <div class="card-title-section">
        <h3 class="card-title">Sample #{{ item.id }}</h3>
        <p class="card-subtitle">{{ item.sample_type.name }}</p>
        <p class="card-info-row">
          <span class="card-meta"
            >Individual: {{ item.individual.individual_id }}</span
          >
        </p>
        {% if item.receipt_date %}
          <p class="card-meta">Received: {{ item.receipt_date }}</p>
        {% endif %}
      </div>
      <div class="card-badge-section">
        {% with float="float-right" color=item.status.color text=item.status.name %}
          {% include 'lab/partials/badge.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
{% endpartialdef card %}
