<div
  class="bg-white p-4 rounded-lg shadow border m-2"
  data-item-id="{{ item.id }}"
>
  {{ item.pk }}
  {% with float="float-right" color=item.status.color text=item.status.name %}
    {% include 'lab/partials/badge.html' %}
  {% endwith %}
  <h3 class="font-semibold text-lg">Sample #{{ item.id }}</h3>
  <p class="text-gray-600">{{ item.sample_type.name }}</p>
  <p class="text-sm text-gray-500">
    Individual: {{ item.individual.individual_id }}
  </p>

  {% if item.receipt_date %}
    <p class="text-sm text-gray-500">Received: {{ item.receipt_date }}</p>
  {% endif %}
</div>
