{% partialdef card %}
  <div class="card-base" data-item-id="{{ item.id }}">
    <div class="card-header">
      <div class="card-title-section">
        <h3 class="card-title">{{ item.test_type.name }}</h3>
        <p class="card-info-row">Sample #{{ item.sample.id }}</p>
        <p class="card-info-row">
          Individual: {{ item.sample.individual.individual_id }}
        </p>
        {% if item.performed_date %}
          <p class="card-meta">Performed: {{ item.performed_date }}</p>
        {% endif %}
        {% if item.performed_by %}
          <p class="card-meta">
            Performed by: {{ item.performed_by.username }}
          </p>
        {% endif %}
        {% if item.service_send_date %}
          <p class="card-meta">Service sent: {{ item.service_send_date }}</p>
        {% endif %}
        {% if item.data_receipt_date %}
          <p class="card-meta">Data received: {{ item.data_receipt_date }}</p>
        {% endif %}
      </div>
      <div class="card-badge-section">
        {% with float="float-right" color=item.status.color text=item.status.name %}
          {% include 'lab/partials/badge.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
{% endpartialdef card %}
