{% extends "lab/base.html" %}

{% block content %}
  {% partialdef type-search %}
    <!-- Search form -->
    {% include "lab/type/search.html" %}
  {% endpartialdef %}

  {% partialdef type-list %}
    {% include "lab/type/list.html" %}
  {% endpartialdef %}

  <!-- this is for when we wanna load with htmx without sidebar -->
  {% partialdef type-index %}
    {% include "lab/type/search.html" %}
    {% include "lab/type/list.html" %}
  {% endpartialdef %}

  <!-- this is for when we wanna do a full refresh with sidebar -->
  {% partial type-search %}
  {% partial type-list %}
{% endblock %}
