{% extends "lab/base.html" %}

{% block content %}

  {% partialdef individual-search %}
    <!-- Search form -->
    {% include "lab/individual/search.html" %}
  {% endpartialdef %}

  {% partialdef individual-list %}
    {% include "lab/individual/list.html" %}
  {% endpartialdef %}

  <!-- this is for when we wanna load with htmx without sidebar -->
  {% partialdef individual-index %}
    {% include "lab/individual/search.html" %}
    {% include "lab/individual/list.html" %}
  {% endpartialdef %}

  <!-- this is for when we wanna do a full refresh with sidebar -->
  {% partial individual-search %}
  {% partial individual-list %}
{% endblock %}
