{% extends "lab/base.html" %}

{% block content %}

  {% partialdef project-search %}
    <!-- Search form -->
    {% include "lab/project/search.html" %}
  {% endpartialdef %}

  {% partialdef project-list %}
    {% include "lab/project/list.html" %}
  {% endpartialdef %}

  <!-- this is for when we wanna load with htmx without sidebar -->
  {% partialdef project-index %}
    {% include "lab/project/search.html" %}
    {% include "lab/project/list.html" %}
  {% endpartialdef %}

  <!-- this is for when we wanna do a full refresh with sidebar -->
  {% partial project-search %}
  {% partial project-list %}
{% endblock %} 