<!-- Add button template that can be used to show just a button -->
<div id="sample-form-container" class="flex justify-end mb-4">
  {% if perms.lab.add_sample %}
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white text-sm font-bold py-1 px-3 rounded flex items-center"
      hx-get="{% url 'lab:sample_create' %}{% if individual %}?individual={{ individual.id }}{% endif %}"
      hx-target="#sample-form-container"
      hx-swap="outerHTML"
    >
      <i class="fas fa-plus mr-1"></i> Add Sample
    </button>
  {% endif %}
</div>
